html, body{
    margin: 0;
    padding: 0;
}

canvas{
    display:block;
    padding: 0;
    margin: auto;
    width: 500px;
}
main{
    width: 800px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}